a {
	background-color: #ebe354;
	border: 10px solid #ebe354;
	border-radius: 10px;
	font-size: 25px;
	text-decoration: none;
	color: black;
	font-family: Verdana, sans-serif;
}

.margin {
	margin-top: 20px;
}

.top {
	margin-top: 50px;
}

.indent {
	margin-left: 30px;
}

.center {
	margin-top: 70px;
}